header
{
   border: solid blue 1px;
   background-color: cornsilk;
}
#div_head{
    display: flex;
}
header div img{
    border: solid 1px blue;
    width: 10%;
}

#sign
{
    width: auto;
    text-align: center;
margin-top: 2%;
margin-left: 70%;

}
.btnPopup{
    width: 80%;
    font-size: 100%;
}