body{
    background-color: darkgray;
}
.page{
    width: 80%;
    margin: auto;

    background-color:darkgray;

    text-align: center;
}
.message{
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 2%;
}

#personne{
    width: 20%;

    text-align: center;

    background-color: white;
    border: thick double black;
}

#message{
    width: 78%;
    background-color: white;
    border: thick double black;
}

img{
    width: 20%;
}